#
# Copyright 2015, Tongji University Operating System Group & elastos.org
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
#

config MANTLE_NET
    bool "Mantle Net"
    default y
    help
        HD-Elastos Mantle Net


